body {
  text-align: center;
  background-color: #FC73A8;
    /* For browsers that do not support gradients */
     /* background-image: linear-gradient(#F79540, #FC73A8); */

}

p {
font-family: 'Comfortaa', cursive;
  font-family: 'Noto Serif Khojki', serif;
    font-size: 1.25rem;
    margin: 5%;
    color: #4F200D;
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #4F200D;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid #4F200D;
  border-radius: 50%;
}

.game-over {
  background-color: #FC4F00;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
